/* ******************* container shop ****************** */
/* ***************************************************** */

.shop {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  grid-gap: 30px;
  width: 85%;
  margin: auto;
  padding: 20px 0;
}
/* ******************* container product *************** */
/* ***************************************************** */

.displayShop {
max-width: 360px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
transition: all .3s;
}
.displayShop:hover{
transform: scale(1.08);
}
.productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 300px;
  /* overflow-y: auto; */
  padding: 5px;
  margin: auto;

}
.productDisplay a h3 {
  margin: 10px 0;
  text-align: center;
}

.displayShop a img {
  width: 70%;
  height: 350px;
  object-fit: cover;
  margin: 5% 0 0 15%;
}

.productDisplay p {
  text-align: justify;
  padding: 5px;
}
.priceShop{
font-size: 20px;
font-weight: bold;
}

/* ******************* btn page ************************ */
/* ***************************************************** */

.page{
width: 85%;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin: 10px auto;
}

/* ******************* filter ************************** */
/* ***************************************************** */
.filter{
display: flex;
flex-direction: row-reverse;
margin: auto;
padding: 10px 0;
width: 85%;
justify-content: space-around;
box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

}
.filter #selectCategory{
margin-inline: 20px;

}
#categoryDiv label:hover, #originDiv label:hover{
color: #b05e3a;
}

@media only screen and (max-width: 1224px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }
  
}


@media only screen and (max-width: 768px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .shop {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
  
}