@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inika', sans-serif;
  }
  
  th {
    font-size: 1.2rem;
    text-align: left;
    background-color: white;
    color: #4D4D4D;
    padding: 0.8rem;
    border: 1px solid #4D4D4D;
  }
  
  td {
    font-size: 1rem;
    text-align: left;
    background-color: #B79D94;
    color: #4D4D4D;
    padding: 0.8rem;
    border: 1px solid #4D4D4D;
  }
  
  tr:nth-child(even) td {
    background-color: #F1D4AF;
  }
  
  .infoBtn {
    background-color: #60AEDF;
    color: #FFFFFF;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-family: 'Inika', sans-serif;
  }
  
  .delBtn {
    background-color: #FF6565;
    color: #FFFFFF;
    border: none;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-family: 'Inika', sans-serif;
  }
  
  @media (max-width: 768px) {
    th, td {
      font-size: 1rem;
      padding: 0.6rem;
    }
  
    .infoBtn, .delBtn {
      padding: 0.4rem 0.8rem;
      margin-right: 0.3rem;
    }
  }
  