@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');

#contact_section{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#name_form {
    display: flex;
    flex-direction: row;
}
.profilForm{
    display: flex;
    justify-content: center;
    
}
.buttonDiv{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.input_container,
.textarea_container {
    border: solid 1px #572A17;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    height: 3.5rem;
    border-radius: 3px;
}

.textarea_container {
    height: 10em;
}

#name_form .input_container {
    width: 100%;
}

#name_form .input_container:first-child {
    margin-right: 10px;
}

#name_form .input_container:last-child {
    margin-left: 10px;
}

.form input {
    position: absolute;
    bottom: 1rem;
    border: none;
    width: 90%;
}

.form textarea {
    position: relative;
    bottom: 1rem;
    border: none;
    width: 90%;
}

.form label {
    display: block;
    color: #999;
    position: absolute;
    margin: 8px;
    top: 1rem;
    transform: translate(0, 0);
    transition: all 0.2s ease-out;
}

.form label:hover {
    cursor: text;
}

.form input:focus {
    outline: none;
}

.form input:focus+label,
.form input:not(:placeholder-shown)+label {
    color: #111;
    transform: translate(0.25rem, -1.3rem);
    font-size: 0.8rem;
}

.form textarea:focus+label,
.form textarea:not(:placeholder-shown)+label {
    color: #111;
    transform: translate(0.25rem, -1.3rem);
    font-size: 0rem;
}

#contact_form_img {
    width: 50%;
    background-image: url("../img/coffeauth.png");
    background-size: cover;
}

#contact_form {
    width: 50%;
    padding: 20px;
}

#message_content {
    outline: none;
    margin-top: 20px;
    width: 100%;
    resize: none;
}

#submit_form button {
    float: right;
    margin-top: 20px;
    width: 100%;
}

.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1px solid #572A17;
  box-sizing: border-box;
  color: #572A17;
  cursor: pointer;
  display: inline-flex;
  fill: #572A17;
  font-family: Inika,sans-serif;
  font-size: 18px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 3px;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  color: #fff;
  fill: green;
  background-color: green;
}

.button-59:active {
  color: #fff;
  fill: green;
  background-color: green;
}


@media only screen and (max-width: 768px) {  
    .button-59 {
        min-width: 170px;
      }
    #contact_section{
        width: 100%;
        margin-top: 15%;
    }
    #contact_form_img{
        display: none;
    }
    #contact_form{
        width: 100vw;
    }
    
    #about_section{
        width: 100%;
    }
    #about_text{
        padding: 5%;
    }
}