#name_form {
    display: flex;
    flex-direction: row;
}

.input_container,
.textarea_container {
    border: solid 1px #111;
    padding: 5px;
    margin-top: 20px;
    position: relative;
    height: 3.5rem;
    border-radius: 3px;
}

.textarea_container {
    height: 10em;
}

#name_form .input_container {
    width: 100%;
}

#name_form .input_container:first-child {
    margin-right: 10px;
}

#name_form .input_container:last-child {
    margin-left: 10px;
}

h3 {
    text-align: center;
}

input {
    position: absolute;
    bottom: 1rem;
    border: none;
    width: 90%;
}

textarea {
    position: relative;
    bottom: 1rem;
    border: none;
    width: 90%;
}

label {
    display: block;
    color: #999;
    position: absolute;
    margin: 8px;
    top: 1rem;
    transform: translate(0, 0);
    transition: all 0.2s ease-out;
}

input:focus {
    outline: none;
}

input:focus+label,
input:not(:placeholder-shown)+label {
    color: #111;
    transform: translate(0.25rem, -1.3rem);
    font-size: 0.8rem;
}

textarea:focus+label,
textarea:not(:placeholder-shown)+label {
    color: #111;
    transform: translate(0.25rem, -1.3rem);
    font-size: 0rem;
}

#contact_section {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: auto;
    width: 800px;
}

#contact_form_img {
    width: 50%;
    background-image: url("../img/cafe_form.png");
    background-size: cover;
}

#contact_form {
    width: 50%;
    padding: 20px;
}

#message_content {
    outline: none;
    margin-top: 20px;
    width: 100%;
    resize: none;
}

#submit_form button {
    float: right;
    margin-top: 20px;
    width: 100%;
}