@import url('https://fonts.googleapis.com/css2?family=Inika&display=swap');
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 0;
    font-family: 'Inika', serif;
}
.left_part{
    width: 33%;
    display: flex;
    justify-content: center;
    gap: 15%;
}
.left_part a{
    text-decoration: none;
    color: black;
    
}
.logo_part{
    width: 33%;
    display: flex;
    justify-content: center;
    
}
.logo_part img{
    width: 30%;
}

.right_part{
    width: 33%;
    display: flex;
    justify-content: center;
    gap: 15%;
    
}
.right_part ul{
    list-style: none;
    

}
.right_part a{
    text-decoration: none;
    color: black;
}

/* Menu connexion */
#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    
    }
   #menu li {
    float:left;
    margin:auto;
    padding:0;
    }
    #menu a{
        text-decoration: none;
        color: black;
    }
   #menu li a {
    display:block;
    color: #572A17;
    text-decoration:none;
    
    }
   
    #menu ul li ul {
        display:none;
        }
    #menu ul li:hover ul {
        display:block;
        
    }
    #menu li:hover ul li {
        float:none;
    }
    #menu li ul {
        position:absolute;
    }

/* /Menu connexiob */

#decoBtn {
    background: none;
    border: none;
    color: #572A17;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-align: left;
    text-decoration: none;
  }
  #logDisplayBtn{
    background: none;
    border: none;
    color: #572A17;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-align: left;
    text-decoration: none;
  }
  #regDisplayBtn{
    background: none;
    border: none;
    color: #572A17;
    cursor: pointer;
    padding: 0;
    font: inherit;
    text-align: left;
    text-decoration: none;
  }

  #search input{
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    
    font-size: 18px;
    outline: none;
  }
  #search {
    width: 200px;
  }