main{
    /* min-height: 34%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main h1{
    margin-top: 20px;
}
main span{
    font-size: 24px;
}
main div{
    margin: 20px 0;
}
main input{
    padding: 7px;
    border-radius: 5px;
}
.displayMessagePayment{
    color: red;
}
#formPayment{
    border: 2px solid #572A17;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 15px;
    margin: 10px 0;
}
.btn-payment{
   width: 180px;
   margin-left: 400px;
}
