.background{
   padding: 5%;
   display: flex;
   justify-content: center;
   

}
.background img{
    width: 90%;
}

.profilNameDisplay, .profilContactDisplay, .profilPwdDisplay {
    display: none;
}